<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wetterbericht">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wetterbericht">
        <activity
            android:name=".presentation.activity.splashscreen.SplashScreen"
            android:exported="false"
            android:label="@string/title_activity_test_compose"
            android:theme="@style/Theme.Wetterbericht" />
        <activity
            android:name=".presentation.composeview.AboutComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_about_compose"
            android:theme="@style/Theme.Wetterbericht" />

        <receiver
            android:name=".helpers.taskreminder.TaskReminderBroadcast"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".helpers.weatherupdate.WeatherUpdate"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".presentation.activity.onboarding.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".presentation.activity.mainactivity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentation.activity.TestComposeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>